<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
	<title>{% if pagetitle %}{{pagetitle}}{% else %}RESTSCENE{% endif %}</title>
	<!-- META TAGS -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!-- FAV ICON(BROWSER TAB ICON) -->
	<link rel="shortcut icon" href="{% static 'home/images/fav.ico' %}" type="image/x-icon">
	<!-- GOOGLE FONT -->
	<link href="https://fonts.googleapis.com/css?family=Poppins%7CQuicksand:500,700" rel="stylesheet">
	<!-- FONTAWESOME ICONS -->
	<link rel="stylesheet" href="{% static 'home/css/font-awesome.min.css' %}">
	<!-- ALL CSS FILES -->
	<link href="{% static 'home/css/materialize.css' %}" rel="stylesheet">
	<link href="{% static 'home/css/style.css' %}" rel="stylesheet">
	<link href="{% static 'home/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
	<!-- RESPONSIVE.CSS ONLY FOR MOBILE AND TABLET VIEWS -->
	<link href="{% static 'home/css/responsive.css' %}" rel="stylesheet">
	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
	<!--[if lt IE 9]>
	<script src="{% static 'home/js/html5shiv.js' %}"></script>
	<script src="{% static 'home/js/respond.min.js' %}"></script>

	   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flag-icons/css/flag-icons.min.css">
	<![endif]-->
</head>